/*
 Theme Name:        Dentario Child Theme
 Theme URI:         https://dentario.themerex.net/
 Description:       Dentario is a Premium WordPress theme that has built-in support for popular Page Builders, slider with swipe gestures, and is SEO- and Retina-ready. The unique system of inheritance and override options allows setting up individual parameters for different sections of your site and supported plugins.
 Author:            ThemeREX
 Author URI:        https://themerex.net/
 Template:          dentario
 Version:           1.0
 Tested up to:      6.6
 Requires at least: 5.0
 Requires PHP:      7.0
 License:           GNU General Public License v2 or later
 License URI:       http://www.gnu.org/licenses/gpl-2.0.html
 Tags:              flexible-header, custom-background, custom-colors, custom-header, custom-menu, featured-image-header, featured-images, full-width-template, microformats, post-formats, theme-options, threaded-comments, translation-ready
 Text Domain:       dentario
*/


/* =Child-Theme customization starts here
------------------------------------------------------------ */